@charset "UTF-8";
h1,
h2,
h3,
p{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	content: ",";
	width: 0;
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}


#container{
	width: 960px;
	margin: auto;
	padding: 0;
}
#container #btn{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 36px;
}
#container #btn ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*width: 960px;*/
	height: 36px;
	position: fixed;
}
#container #btn ul li{
	margin: 0;
	padding: 0;
	width: calc(960px / 9);
	height: 36px;
	float: left;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 35px;
	background: rgb(135,135,135); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(89,89,89,1) 50%, rgba(84,84,84,1) 51%, rgba(102,102,102,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,135,135,1)), color-stop(50%,rgba(89,89,89,1)), color-stop(51%,rgba(84,84,84,1)), color-stop(100%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(135,135,135,1) 0%,rgba(89,89,89,1) 50%,rgba(84,84,84,1) 51%,rgba(102,102,102,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(135,135,135,1) 0%,rgba(89,89,89,1) 50%,rgba(84,84,84,1) 51%,rgba(102,102,102,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(135,135,135,1) 0%,rgba(89,89,89,1) 50%,rgba(84,84,84,1) 51%,rgba(102,102,102,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(135,135,135,1) 0%,rgba(89,89,89,1) 50%,rgba(84,84,84,1) 51%,rgba(102,102,102,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#666666',GradientType=0 ); /* IE6-9 */	color: #fff;

}
#container #btn ul li a{
	text-decoration: none;
	margin: 0;
	padding: 0;
	height: 100%;
	display: block;
	border-right: solid 1px #ffffff;
	color: #ffffff;
	text-align: center;
	line-height: 36px;
	font-size: 20px;
}
#container ul li a img{
	margin: 5px 0 0;
	padding: 0;
}
#container #btn ul li a:hover{
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(38,38,38,1) 50%, rgba(35,35,35,1) 51%, rgba(84,84,84,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(50%,rgba(38,38,38,1)), color-stop(51%,rgba(35,35,35,1)), color-stop(100%,rgba(84,84,84,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(38,38,38,1) 50%,rgba(35,35,35,1) 51%,rgba(84,84,84,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(38,38,38,1) 50%,rgba(35,35,35,1) 51%,rgba(84,84,84,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(38,38,38,1) 50%,rgba(35,35,35,1) 51%,rgba(84,84,84,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(38,38,38,1) 50%,rgba(35,35,35,1) 51%,rgba(84,84,84,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#545454',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
}
#container #btn ul li:first-child{
	border-radius: 9px 0 0 9px;
}
#container #btn ul li:last-child{
	border-right: none;
	border-radius: 0 9px 9px 0;
}
#container #btn ul li input{
	width: 80px;
}
#container #top{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #ff0000;
}
#container #page2{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #00ff00;
}
#container #page3{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #0000ff;
}
#container #page4{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #ffff00;
}
#container #page5{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #00ffff;
}
#container #page6{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #ff00ff;
}
#container #page7{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #f00fff;
}
#container #page8{
	margin: 0;
	padding: 0;
	width: 960px;
	height: 1000px;
	background-color: #fff00f;
}